@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400|Baskervville:400'); /*imports google fonts for use in the website*/

/*TYPOGRAPHY*/
html {font-size: 100%;} /*16px*/

/*sets font for overall page*/
body {
  background: white;
  font-family: 'Nunito Sans', sans-serif; 
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  margin: 0; /*makes the content take up the entirety of the page*/
}

p {margin-bottom: 1rem;}

/*sets font for headers*/
h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Baskervville', serif; 
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}



/*GRID*/
.grid-container { /*creates grid using columns and rows, setting width and height of different parts of the page*/
  display: grid; /*allows for grids to be made*/
  grid-template-columns: 0.1fr 1fr 0.1fr; /*sets the asides to a tenth of the main area*/
  grid-template-rows: 100px 1fr 0.1fr; /*sets the header to a strict 100px and the footer to a tenth of the main page*/
  gap: 0px 0px;
  grid-template-areas: /*creates the template for the grid*/
    "header header header"
    "aside1 main aside"
    "footer footer footer";
}

.header { 
  grid-area: header; /*places the section within the given area in the template above*/
  position: relative;
  background-color: #1346a4; /*sets the dark blue background for the header*/
  margin: 0;
  /*the following three lines make sure that the text stays in the middle of the screen by flexing the display and aligning and justifying everything to the center*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h1 { /*specifically edits the h1 text inside the header*/
  color: white; /*makes the font white against the blue background*/
}

.aside1 {
  grid-area: aside1;
  background-color: #FFF8F0; /*sets a light pink background to block off the sides and draw eyes into the centre of the screen*/
}
.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .5fr .5fr .5fr .5fr .5fr .5fr .5fr; /*sets the row height to .5 as 1 was creating too much distance*/
  gap: 0px 0px;
  grid-template-areas:
    "intro"
    "vis1"
    "text1"
    "vis2"
    "text2"
    "vis3"
    "conc";
  grid-area: main;
}
.intro { 
  grid-area: intro;
  
}
.intro h2 {
  text-align: center;
  vertical-align: middle;
  line-height: 50px; /*gives more height for greater spacing*/
}
.intro h5 { /*targetting of specific text types for more effective manipulation and variation*/
  text-align: center;
  vertical-align: middle;
  
}
.intro p {
  text-align: left;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15%; /*gives a 15% margin on the left and right to center it specifically*/
  line-height: 25px; /*gives a slight boost to line spacing*/
}

.text2 { 
  grid-area: text2; 
}
.text2 p {
  text-align: left;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15%;
  line-height: 25px;
}

.vis1 { grid-area: vis1; }
.text1 { grid-area: text1; }
.text1 p {
  text-align: left;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15%;
  line-height: 25px;
}

.vis2 { grid-area: vis2; }
.vis3 { grid-area: vis3; }

.conc { 
  grid-area: conc;
}
.conc p {
  text-align: left;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15%;
  line-height: 25px;
}

.aside {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ".";
  grid-area: aside;
  background-color: #FFF8F0;
}
.footer { 
  grid-area: footer;
  background-color: #1346a4;
  position: relative;
  bottom: 0;
}
.footer p {
  text-align: left;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10%;
  line-height: 25px;
  color: white;
}