@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400|Baskervville:400');

/*GRID*/
.grid-container {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px 1fr 1fr 50px;
    gap: 0px 0px;
    grid-template-areas:
      "header header header"
      "nav main aside"
      "nav main aside"
      "footer footer footer";
}
.header { grid-area: header; }
.nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ".";
    grid-area: nav;
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "intro intro intro"
      "vis1 vis1 text1"
      "vis2 vis2 text2"
      "vis3 vis3 text3"
      "conc conc conc";
    grid-area: main;
}
  .intro { grid-area: intro; }
  .vis1 { grid-area: vis1; }
  .text1 { grid-area: text1; }
  .vis2 { grid-area: vis2; }
  .text2 { grid-area: text2; }
  .vis3 { grid-area: vis3; }
  .text3 { grid-area: text3; }
  .conc { grid-area: conc; }
  .aside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ".";
    grid-area: aside;
}
.footer { grid-area: footer; }


/*TYPOGRAPHY*/
html {font-size: 100%;} /*16px*/

body {
  background: white;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Baskervville', serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}